@model IEnumerable<WebApplicationEducation.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />
<h1>Список пользователей:</h1>
<hr />

<div>
    @foreach (var user in Model)
    {
        <div>
            <div>Id: @user.Id</div>
            <div>Name: @user.Name</div>
            <div>Balance: @user.Balance</div>
            <div>Created: @user.Created</div>
        </div>
        <hr />
    }
</div>